<app-header></app-header>
<main>
  <h1>Perguntas Frequentes</h1>

  <section>
    <ol>
        <li>
          <strong>Há um bem móvel em minha carga patrimonial, mas não sei qual é a situação dele. O que posso fazer?</strong><br>
          Solicite um laudo para a comissão de emissão de laudos do campus Curitiba.
        </li>

        <li>
          <strong>Como posso solicitar um laudo?</strong><br>
          Consultar o guia com o <a routerLink="/details/step-by-step">processo completo de solicitação de laudos</a>.
        </li>

        <li>
          <strong>Há um bem móvel em minha carga patrimonial e sei que ele está em perfeitas condições, mas eu não o uso mais. O que posso fazer?</strong><br>
          Não peça laudo. Neste caso, o bem que está em perfeitas condições mas não é mais usado é considerado "ocioso".<br><br>
          A atitude adequada é disponibilizar via Sistemas Corporativos -> Patrimônio -> Disponibilizar bem.
        </li>

        <li>
          <strong>Recebi laudo de um bem e ele foi considerado recuperável. O que posso fazer?</strong><br>
          Este bem continuará em posse do responsável pelo bem. Porém, também pode ser disponibilizado para outros servidores, por meio dos seguintes passos:<br>
          Sistemas Corporativos -> Patrimônio -> Disponibilizar bem.
        </li>

        <li>
          <strong>Recebi laudo de um bem e ele foi considerado ocioso. O que posso fazer?</strong><br>
          Nesse caso, não deveria ter sido pedido laudo. Mas se isto ocorreu, este bem continuará em posse do responsável por ele. Porém, pode ser disponibilizado para outros servidores, por meio dos seguintes passos:<br>
          Sistemas Corporativos -> Patrimônio -> Disponibilizar bem.<br><br>
          Observação: os bens ociosos podem ser disponibilizados a qualquer momento. Não necessitam de laudo.
        </li>

        <li>
          <strong>Recebi laudo de bem e ele foi considerado Antieconômico ou Irrecuperável. O que posso fazer?</strong><br>
          É necessário colar o laudo no bem e entregá-lo na DIPAT-CT. Em cerca de 2 meses, o bem sairá da sua carga patrimonial.
        </li>

        <li>
          <strong>Todos os servidores possuem carga patrimonial?</strong><br>
          Não, mas recomenda-se que todos confiram se há bens na sua carga patrimonial.
        </li>

        <li>
          <strong>Como posso conferir os bens da minha carga patrimonial?</strong><br>
          Acesse:<br> Sistemas Corporativos -> Patrimônio -> Carga Patrimonial.
        </li>

        <li>
          <strong>Tenho bens antigos em minha carga patrimonial, mas não consigo localizá-los. Mesmo se estivesse com ele, estariam obsoletos. O que faço?</strong><br>
          Não peça laudos, porque, conforme legislação, a comissão só pode emitir laudos de bens de local conhecido. Para resolver, consulte o "manual de patrimônio" na seção "irregularidades no uso ou na guarda do bem patrimonial" e siga as instruções.
        </li>

        <li>
          <strong>O que um servidor responsável por uma sala deve fazer?</strong><br>
          Os responsáveis pelas salas devem: <br>
          1) Conferir os patrimônios do local, verificando quais bens estão na carga de servidores da sala e/ou pertencentes ao departamento. Quando possível, os bens que estiverem na carga patrimonial de outros servidores devem ser listados e separados fisicamente. <br>
          2) Acompanhar a equipe da DIPAT-CT quando ela conferir a sala.
        </li>

        <li>
          <strong>Ao conferir minha carga patrimonial, se eu descobrir que um bem está sendo usado por outro servidor, posso transferir para este outro servidor?</strong><br>
          Sim, você pode e deve transferir.
        </li>

        <li>
          <strong>Como transfiro um bem para outro servidor?</strong><br>
          Começa por um processo no SEI, chamado "Patrimônio: Solicitação de Transferência de Bens". O servidor que tem o bem em sua carga patrimonial abre o processo no SEI e segue as instruções da base de conhecimento.
        </li>

        <li>
          <strong>Tenho equipamentos de TI, como faço para pedir laudos?</strong><br>
          Entre em "serviços de TI" -> suporte.utfpr.edu.br -> Campus Curitiba -> Login -> Novo chamado -> emissão de laudo.
        </li>

        <li>
          <strong>Quais são os bens considerados de TI?</strong><br>
          Computadores, impressoras, servidores, telefones (fixo e móvel), mesas digitalizadoras, tablets, scanners, fax, entre outros. Para os demais bens, seguir as instruções que estão neste guia.
        </li>

        <li>
          <strong>Tenho livros na minha carga patrimonial, como faço para pedir laudos, para eventual desfazimento?</strong><br>
          Para laudos de livros, entre em contato com a biblioteca no email: <a href="mailto:aquisicao-ct@utfpr.edu.br">aquisicao-ct&#64;utfpr.edu.br</a>.
        </li>

        <li>
          <strong>Tenho bens com patrimônio da Funtef e Funcefet, bem antigos e obsoletos,
            como fazer para me desfazer destes?</strong><br>
            Entre em contato com a Funtef. A comissão trata apenas de equipamentos da UTFPR.
        </li>

        <li>
          <strong>Quando o laudo indica recuperação, mas os recursos para o serviço não estão disponíveis como o casa das cadeiras. O que fazer?</strong><br>
          Houve o reconhecimento, em 2024, de que existe a situação relatada. Assim pode ser solicitado
          novo laudo, apenas para cadeiras, visto que não há estofador. Não há previsão desta solução,
          para os demais bens.
        </li>
    </ol>
  </section>
</main>
<app-footer></app-footer>
