main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(50px + 32px);
  padding-bottom: 64px;
  min-height: calc(100vh - 212px);
  max-width: 90vw;
  margin: 0 auto;
}

h1 {
  margin-bottom: 24px;
  text-align: center;
}

li::marker {
  font-weight: bold;
}

li {
  margin-top: 16px;
}

ol {
  list-style-position: inside;
}

@media (max-width:768px) {
  main {
    padding-bottom: calc(72px + 32px + 50px);
    min-height: calc(100vh - 72px - 50px);
  }

}
