<h1>Bens no arquivo</h1>

<div *ngFor="let asset of assets">
  <app-asset-info-card [asset]="asset" (assetClicked)="goToAsset($event)"></app-asset-info-card>
</div>

<button class="default" *ngIf="assets.length > 0 && areAllAssetsComplete()" type="button" (click)="handleAddAsset()">
  Adicionar bem
</button>

<div>
  <button class="default" type="button" (click)="handleAssetAction()">
    {{ assets.length > 0 && areAllAssetsComplete() ? 'Gerar arquivo' : 'Continuar geração' }}
  </button>
</div>
