main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(50px + 32px);
  padding-bottom: 64px;
  min-height: calc(100vh - 160px);
}

@media (max-width:768px) {
  main {
    padding-bottom: calc(72px + 64px);
    min-height: calc(100vh - 72px);
  }
}
