<app-header></app-header>
<main>
  <h1>Bens Inservíveis</h1>

  <section>
    <p>Para que um bem que está na carga patrimonial de um servidor seja considerado inservível, ele deve ser classificado em uma das seguintes categorias:</p>
    <ol>
        <li>
          <strong>Ocioso:</strong><br>
          É um bem móvel em perfeitas condições de uso. Porém, não é aproveitado.
        </li>

        <li>
          <strong>Recuperável</strong><br>
          É um bem móvel que não está em condições de uso, e sua recuperação custa no máximo cinquenta por cento de seu valor atual de mercado. Também pode ser um objeto cuja análise de custo e benefício demonstra ser possível recuperá-lo e usá-lo novamente.
        </li>

        <li>
          <strong>Antieconômico</strong><br>
          Bem móvel de manutenção onerosa ou de pouco rendimento, sejam resultados de uso prolongado ou desgaste prematuro. Itens obsoletos também podem ser incluídos nessa categoria.
        </li>

        <li>
          <strong>Irrecuperável</strong><br>
          Bem móvel que não pode ser usado por não atender às necessidades dos servidores após perder a sua funcionalidade. Um objeto cuja recuperação custe mais de metade de seu valor atual de mercado, ou cuja análise de custo e benefício demonstra não ser possível recuperá-lo e usá-lo novamente pode ser considerado irrecuperável.
        </li>
    </ol>
  </section>
</main>
<app-footer></app-footer>
