<app-header></app-header>
<main>
  <h1>Informações</h1>
  <section>
    <strong>O que são bens inservíveis</strong>
    <a routerLink="/details/userviceableAssets">Entenda o que são bens inservíveis</a>
    <strong>Perguntas frequentes</strong>
    <a routerLink="/details/FAQ">Dúvidas comuns sobre bens, carga patrimonial e laudos.</a>
    <strong>Passo a passo para solicitação de laudos</strong>
    <a routerLink="/details/reportsRequest">Guia detalhado para solicitar a emissão de laudos.</a>
  </section>
</main>
<app-footer></app-footer>

