<div class="container" (click)="onClick()">
  <div class="content">
    <img [src]="asset.mainImage" alt="Imagem da placa de patrimônio" class="assetTagImage" width="72px" height="96px">
    <section>
      <p>Bem número {{ asset.assetNumber }}</p>
      <p>{{ asset.description }}</p>
      <p>{{ asset.responsible }}</p>
      <div class="status">
        <span [ngClass]="utilsService.isAssetComplete(asset) ? 'complete' : 'incomplete'"></span>
        <p>{{ utilsService.isAssetComplete(asset) ? "Concluído" : "Pendente"}}</p>
      </div>
      <img src="assets/img/edit.svg" alt="Editar" width="24px" height="24px">
    </section>
  </div>
</div>
