<main>
  <div id="container" *ngIf="state==1">
    <h1 style="background-color: red;">Login: State {{state}}</h1>
    <section>
      <form action="">
        <input type="text" placeholder="Email" #email>
        <input type="password" placeholder="Senha" #password>
        <button class="default" type="button" (click)="login(email.value, password.value)">Login</button>
      </form>
    </section>
  </div>
  <div id="container" *ngIf="state==2">
    <h1 style="background-color: red;">Criar arquivo: State {{state}}</h1>
    <section>
      <form action="">
        <button class="default" type="button" (click)="createFile()">Criar arquivo</button>
      </form>
    </section>
  </div>
  <div id="container" *ngIf="state==3">
    <app-camera
      (imageCaptured)="onImageCaptured($event)"
      [showSquare]="true"
    />
  </div>
  <div id="container" *ngIf="state==4 && webcamImage">
    <h1 style="background-color: red;">Confirmar imagem: State {{state}}</h1>
    <img [src]="webcamImage.imageAsDataUrl" alt="">
    <div class="buttons">
      <button class="default" type="button" (click)="createAsset();">Confirmar</button>
      <button class="default" type="button" (click)="clearImage();">Tirar nova foto</button>
    </div>
  </div>
  <div id="container" *ngIf="state==5">
    <h1 style="background-color: red;">Confirmar número de patrimônio: State {{state}}</h1>
    <img [src]="processedImage" alt="">
    <div *ngIf="assetNumber" style="color: white;">
      <p *ngIf="!assetNumberUpdateEnabled">{{assetNumber}} - Nível de confiança {{assetNumberConfidence}}</p>
      <input *ngIf="assetNumberUpdateEnabled" type="string" placeholder="Número de patrimônio" [(ngModel)]="assetNumber">
    </div>
    <div class="buttons">
      <button class="default" type="button" (click)="confirmAsset();">Confirmar</button>
      <button class="default" type="button" (click)="enableAssetNumberUpdate();">Atualizar</button>
      <button class="default" type="button" (click)="deleteAsset();">Cancelar</button>
    </div>
  </div>
  <div id="container" *ngIf="state==6">
    <app-camera
      (imageCaptured)="onImageCaptured($event)"
      [showSquare]="false"
    />
  </div>
  <div id="container" *ngIf="state==7 && webcamImage">
    <h1 style="background-color: red;">Adicionar nova imagem: State {{state}}</h1>
    <img [src]="webcamImage.imageAsDataUrl" alt="">
    <div class="buttons">
      <button class="default" type="button" (click)="addImageToAsset();">Confirmar foto</button>
      <button class="default" type="button" (click)="clearImage();">Voltar</button>
    </div>
  </div>
  <div id="container" *ngIf="state==8">
    <h1 style="background-color: red;">Adicionar nova imagem ou gerar arquivo: State {{state}}</h1>
    <p>Total de {{imageCount}} fotos</p>
    <div class="buttons">
      <button class="default" type="button" (click)="clearImage(2);">Adicionar nova foto</button>
      <button *ngIf="imageCount >= 3" class="default" type="button" (click)="resetVariablesForNewAsset();">Adicionar novo bem</button>
      <button *ngIf="imageCount >= 3" class="default" type="button" (click)="confirmFile();">Gerar arquivo</button>
    </div>
  </div>
  <div id="container" *ngIf="state>=9">
    <h1 style="background-color: red;">Baixar arquivo: State {{state}}</h1>
    <div class="buttons">
      <a [href]="file" download target="_blank">
        <button class="default" type="button">Baixar Arquivo</button>
      </a>
      <button class="default" type="button" (click)="resetVariables();">Criar novo arquivo</button>
    </div>
  </div>
</main>
