<main>
  <div id="header" *ngIf="state==1">
    <h1 style="background-color: red;">Login: State {{state}}</h1>
    <section>
      <form action="">
        <input type="text" placeholder="Email" #email>
        <input type="password" placeholder="Senha" #password>
        <button class="default" type="button" (click)="login(email.value, password.value)">Login</button>
      </form>
    </section>
  </div>
  <div id="header" *ngIf="state==2">
    <h1 style="background-color: red;">Criar arquivo: State {{state}}</h1>
    <section>
      <form action="">
        <button class="default" type="button" (click)="createFile()">Criar arquivo</button>
      </form>
    </section>
  </div>
  <div id="container" *ngIf="!webcamImage && state==150">
    <div id="vid_container">
      <section class="camera-view">
        <webcam [height]="screenHeight" [width]="screenWidth"
          [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
          [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
          [videoOptions]="videoOptions"
          [imageQuality]="1"
          (cameraSwitched)="cameraWasSwitched($event)"
          (initError)="handleInitError($event)"
        ></webcam>
        <div id="red-square"></div>
      </section>
    </div>
    <div id="gui_controls">
      <button
        id="switchCameraButton"
        name="switch Camera"
        type="button"
        class="actionBtn"
        (click)="showNextWebcam(true);"
      ></button>
      <button
        id="takePhotoButton"
        name="take Photo"
        type="button"
        class="actionBtn"
        (click)="triggerSnapshot();"
      ></button>
    </div>
  </div>
  <div id="container" *ngIf="webcamImage && !processedImage">
    <img [src]="webcamImage.imageAsDataUrl" alt="">
    <div class="buttons">
      <button (click)="sendImage();">Send image</button>
      <button (click)="clearImage();">Clear image</button>
    </div>
  </div>
  <div id="container" *ngIf="processedImage">
    <img [src]="processedImage" alt="">
    <div *ngIf="number" style="color: white;">{{number}}</div>
    <div class="buttons">
      <button (click)="clearImage();">Clear image</button>
    </div>
  </div>
</main>
