/* You can add global styles to this file, and also import other style files */
*, html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
}

p, a, strong {
  font-size: 14px;
}

:root {
  --primary-color: #FFBE00;
  --primary-hover-color: #e0a500;
  --red-color: #DE0101;
  --red-hover-color: #b50000;
  --green-color: #077F21;
  --green-hover-color: #056c1c;
  --background-color: #F1F1F1;
  --gray-background: #E5E5E5;
  --gray-text: #7A7A7A;
  --black-light: #000000DE;
  --link-color: #0169CD;
}

a {
  color: var(--link-color);
}

button.primary, button.secondary, button.delete {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  outline: none;
  height: 50px;
  max-width: 288px;
  width: 100%;
  border-radius: 24px;

  /* Estilos que simulam o comportamento de um <button> */
  transition: background-color 0.2s, border-color 0.2s;
}

button.primary {
  color: black;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

button.secondary {
  color: black;
  background-color: white;
  border: 1px solid black;
}

button.delete {
  color: white;
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
}

button.primary:hover {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}

button.primary:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

button.secondary:hover {
  background-color: var(--background-color);
  border-color: black;
}

button.secondary:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

button.delete:hover {
  background-color: var(--red-hover-color);
  border-color: var(--red-hover-color);
}

button.delete:focus {
  outline: 2px solid var(--red-color);
  outline-offset: 2px;
}

button.primary:disabled, button.secondary:disabled, button.delete:disabled {
  background-color: var(--gray-background); /* Cor de fundo mais clara */
  border-color: var(--gray-background); /* Bordas mais claras */
  color: var(--gray-text); /* Cor do texto mais escura */
  cursor: not-allowed; /* Cursor de "não permitido" */
  opacity: 0.65; /* Opacidade para dar efeito visual de desabilitado */
}

button.primary:disabled:hover, button.secondary:disabled:hover, button.delete:disabled:hover {
  background-color: var(--gray-background);
  border-color: var(--gray-background);
}

button.primary:disabled:active, button.secondary:disabled:active, button.delete:disabled:active {
  background-color: var(--gray-background);
  border-color: var(--gray-background);
}

button.primary:disabled:focus, button.secondary:disabled:focus, button.delete:disabled:focus {
  outline: none;
}

.buttons-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  width: 80vw;
  flex: 1;
}

.buttons-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  width: 80vw;
  flex: 1;
}

.overlay-padding-top {
  padding-top: 64px;
}

.overlay-text {
  font-size: 20px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  width: 80vw;
}

.button-margin {
  margin-bottom: 16px;
}
