<div id="container">
  <h1 style="background-color: red;">{{ assets.length > 0 || incompleteAsset ? 'Atualizar arquivo' : 'Iniciar geração' }}</h1>
  <section>
    <form action="">
      <button class="default" type="button" (click)="handleFileAction()">
        {{ assets.length > 0 || incompleteAsset ? 'Atualizar arquivo' : 'Iniciar geração' }}
      </button>
      <button class="default" type="button" *ngIf="assets.length > 0 && !incompleteAsset" (click)="generateFile()">
        Gerar arquivo
      </button>
    </form>
  </section>
</div>
